# CONFIG

/deploy/vault/config/*
# only the example configuration file will be tracked and committed
!/deploy/vault/config/instance.config.template.php

# DATA

/data/*
# only files that begin with "perihelion-" will be tracked and committed
!/data/perihelion-*

# VENDOR

/deploy/src/perihelion/vendor/*
!/deploy/src/perihelion/vendor/readme.md

# PROJECT

.idea/*
