/*

          |
     \    |    /
 `.   \   |   /   .'
   `.  \  |  /  .'
`-.  `. \d8b/ .'  .-'
   `-. do0o88b .-'
<~~~~ 8o0O0o888 ~~~~> 
<~~~~ 8o00o8888 ~~~~>
   _-' qoo888p '-_   
,-'  ,' /q8p\ `.  `-.   
   ,'  /  |  \  `.
 ,'   /   |   \   `.
     /    |    \
          |

*/

html {
	height:100%;
}

body {
	height:100%;
}

#perihelion_body {
	display:flex;
	min-height:100vh;
	flex-direction:column;
}

#perihelion_main {
	flex: 1;
}

.navbar {
	margin-bottom:20px;
}

.nav-tabs {
	margin-bottom:10px;
}

#hachimitsu {
	display:none;
}

div.perihelion-footer p {
	text-align:right;
	font-size:smaller;
	margin-top:10px;
}

#map-canvas {
	height:200px;
}

/* === START SPINNER === */

#spin_doctor {
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background:white;
	opacity:.5;
}

#spin_doctor .spinner-inner {
	padding-top:20%;
}

#spin_doctor .spinner-border {
	width:5rem;
	height:5rem;
}

/* === END SPINNER === */

/* >= 576px (sm) */
@media only screen and (min-width: 576px) {

}

/* >= 768px (md) */
@media only screen and (min-width: 768px) {
	#map-canvas {
		height:400px;
	}
}

/* >= 992px (lg) */
@media only screen and (min-width: 992px) {

}

/* >= 1200px (xl) */
@media only screen and (min-width: 1200px) {

}
